DB_HOST=mysql-service.aivencloud.com
DB_PORT=3306
DB_USER=avnadmin
DB_PASSWORD=replace-with-aiven-password
DB_NAME=defaultdb
DB_SSL=true
DB_CA_PATH=./ca.pem
API_PORT=3001
JWT_SECRET=replace-this-before-production
